.list-inline {
  list-style: none;
  padding-left: 0px;
  }

.list-inline li {
  display: inline;
  padding: 10px;
  }

.list-inline i {
  font-size: 50px;
  color: rgb(204,0,0);
  }

.list-inline i:hover {
  color: rgb(20,20,20);
  }
